<h1><%= title %></h1>
<form action="/adduser" method="post" name="adduser">
    <input name="username" placeholder="username" type="text" />
    <input name="email" type="text" placeholder="email" />
    <button type="submit">submit</button>
</form>