<!DOCTYPE html>
<head>
</head>
<body>
<p>hi</p>
    <p><%= userlist[1].username %></p>

    <ul>
    <% for (var i = 0; userlist[i] != null ; i++) {%>
        <li> <%= userlist[i].username %></li>
    <% }%>
    </ul>

</body>
